@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe/Circe-ExtraBold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe/Circe-Bold.otf");
  font-weight: 700;
}

.p_wr {
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-size: 0;
}

* {
  font-family: "Montserrat", sans-serif;
}

$blue: #004bc5;

button {
  appearance: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

* {
  letter-spacing: 0.02em;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  font-size: 22px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 26px;
}

.m_h {
  margin-top: 100px;
  background-image: url("../img/preview.jpg");
  background-position: 50% 50%;
  background-size: cover;
  text-align: center;
  padding: 62px 15px 74px;
  h1 {
    text-transform: uppercase;
    font-size: 54px;
    color: #fff;
    margin: 65px 0 30px;
  }
  p {
    display: inline-block;
    background-color: #fff;
    color: #1e219c;
    padding: 8px 15px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
  }
  .arrd {
    margin-top: 56px;
  }
}

.scroll_to {
  padding-top: 60px;
}
.scroll_to img {
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
}
@keyframes sdb04 {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(0, 15px);
  }
  40% {
    transform: translate(0, 0);
  }
}

.pr_wr {
  display: inline-block;
  padding: 22px 24px;
  width: 100%;
  max-width: 920px;
  background-color: #fff;
  border-radius: 36px;
  box-sizing: border-box;
}

.pr {
  text-align: center;
  background-color: #e0e0e0;
  border-radius: 14px;
  overflow: hidden;
  position: relative;
  span {
    font-weight: 700;
    color: #000;
    font-size: 18px;
    position: relative;
    z-index: 2;
    color: $blue;
    display: inline-block;
    padding: 4px 0;
    transition: color 0.4s ease;
    strong {
      font-weight: 900;
      width: 42px;
      display: inline-block;
    }
  }
}

.pl_l {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 14px;
  z-index: 1;
  background: linear-gradient(175.32deg, #3460e2 5.92%, #ec2551 100%);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
  width: 0;
  transition: all 0.1s ease;
}

.container {
  width: 1560px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.b_t {
  display: inline-block;
  background-color: $blue;
  text-transform: uppercase;
  color: #fff;
  padding: 4px 16px 5px;
}

.s1 {
  padding: 81px 0 134px;
  background-color: #f2f4fb;
}

.s_h {
  h2 {
    margin: 17px 0 13px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 1.4;
  }
  p {
    font-size: 22px;
    font-weight: 700;
    line-height: 1.4;
  }
}

.prices {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

h6 {
  text-transform: uppercase;
  font-size: 16px;
}

.price {
  max-width: 360px;
  min-width: 360px;
  box-sizing: border-box;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 40px 55px rgba(63, 83, 114, 0.26);

  &.silver {
    background-color: #c0c8d4;
    ul {
      &:after,
      &:before {
        background-color: #c0c8d4;
      }
    }
  }

  &.gold {
    background-color: #f8d861;
    ul {
      &:after,
      &:before {
        background-color: #f8d861;
      }
    }
    .pt {
      p {
        font-size: 15px;
        padding: 25px 0 30px;
      }
      strong {
        font-size: 20px;
      }
    }
    .pm {
      padding-top: 19px;
      p {
        font-size: 18px;
        font-weight: 700;
      }
      strong {
        font-size: 42px;
      }
    }
  }

  &.plat {
    background-color: #f14841;
    h4 {
      color: #fff;
    }
    ul {
      &:after,
      &:before {
        background-color: #f14841;
      }
    }
    .pm {
      padding-bottom: 30px;
      p {
        padding-top: 3px;
      }
      strong {
        font-size: 28px;
      }
    }
  }

  &.vip {
    background-color: #000;
    h4 {
      color: #fff;
    }
    ul {
      &:after,
      &:before {
        background-color: #000;
      }
    }
    .pm {
      padding-bottom: 30px;
      p {
        padding-top: 3px;
      }
      strong {
        font-size: 28px;
      }
    }
  }

  ul {
    counter-reset: counter1;
    background-color: #fff;
    padding: 4px 22px 56px;
    box-sizing: border-box;
    border-radius: 12px 12px 0 0;
    border-bottom: 1px solid #dadada;
    position: relative;
    flex-grow: 1;
    &:after,
    &:before {
      width: 13px;
      height: 13px;
      bottom: -7px;
      position: absolute;
      border-radius: 50%;
      content: "";
    }
    &:after {
      left: -7px;
    }
    &:before {
      right: -7px;
    }
  }

  li {
    font-size: 18px;
    position: relative;
    padding-left: 28px;
    font-weight: 500;
    margin: 18px 0;

    &:before {
      content: counter(counter1) ".";
      counter-increment: counter1;
      position: absolute;
      left: 0;
      color: $blue;
      font-weight: 700;
    }
    span {
      font-size: 16px;
      font-weight: 400;
    }
  }
  h4 {
    font-size: 26px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    padding: 30px 0;
  }
}

.ph {
  background-color: #fff;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 12px;
  padding: 0 15px;
  p,
  h5 {
    text-align: center;
    line-height: 1.4;
  }
  h5 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
}

.bl {
  color: #3a5bd1;
}

.p_self {
  text-align: center;
  background-color: #eaefff;
  border-radius: 0 0 12px 12px;
  padding-bottom: 46px;
  height: 500px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
    font-size: 16px;
    font-weight: 500;
    padding: 14px 0;
  }
}

.pt {
  strong {
    margin-left: 13px;
    font-weight: 900;
  }
  p {
    padding: 30px 0 20px;
  }
}

.pm {
  background-color: #fff;
  padding: 30px 0 12px;
  strong {
    font-size: 36px;
    font-weight: 900;
    margin-left: 12px;
    color: $blue;
  }
  p {
    padding: 11px 0 0;
  }
}

.count {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  padding-bottom: 30px;
  padding-top: 8px;
  button {
    width: 50px;
    height: 50px;
    font-weight: 900;
    font-size: 28px;
    background-color: #fff;
    color: $blue;
    border: 2px solid $blue;
    cursor: pointer;
  }
  span {
    width: 90px;
    color: $blue;
  }
}

.pb {
  padding: 0 20px;
  a {
    display: block;
  }
}

.buy {
  background: #ec2551;
  box-shadow: 0px 22px 34px rgba(236, 37, 81, 0.26);
  border-radius: 4px;
  height: 75px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-weight: 800;
  color: #fff;
  border: 0;
  font-family: "Circe";
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: block;
  line-height: 75px;
  &.big {
    height: 111px;
    line-height: 111px;
  }
}

a.buy {
  font-size: 20px;
}

.o_wr {
  padding-top: 100px;
  h2 {
    font-weight: 800;
  }
}

.o_m {
  padding-left: 71px;
  padding: 20px 20px 36px 70px;
  flex-grow: 1;
  position: relative;
  &:before,
  &:after {
    width: 13px;
    height: 13px;
    bottom: -7px;
    position: absolute;
    border-radius: 50%;
    content: "";
  }
  h3 {
    font-size: 72px;
    font-weight: 900;
    color: #3a5bd1;
  }
  h4 {
    font-size: 24px;
    color: #3a5bd1;
    margin-top: 2px;
  }
  ul {
    padding: 18px 0 24px;
  }
  li {
    position: relative;
    font-size: 22px;
    padding-left: 32px;
    font-weight: 600;
    line-height: 38px;
    &:before {
      width: 18px;
      height: 18px;
      content: "";
      position: absolute;
      left: 0;
      top: 9px;
      background-image: url("../img/lst.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
  }
  p {
    font-weight: 500;
    strong {
      font-weight: 900;
    }
  }
}

.online {
  display: flex;
  overflow: hidden;
  background-color: #fff;
  border: 4px solid #3a5bd1;
  box-sizing: border-box;
  box-shadow: 0px 40px 55px rgba(63, 83, 114, 0.12);
  border-radius: 34px;
  margin-top: 40px;
}

.o_rot {
  background: #3a5bd1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  p {
    transform: rotate(-90deg);
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.08em;
    margin: 0;
    text-transform: uppercase;
    padding-top: 4px;
    span {
      font-size: 36px;
      margin-top: 4px;
      display: block;
      line-height: 48px;
    }
  }
}

.o_r {
  padding: 0 94px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  box-sizing: border-box;
  background-color: #f2f4fb;
  position: relative;
  &:before {
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-image: url("../img/dash.png");
  }
  h4 {
    font-size: 22px;
    margin-bottom: 8px;
  }
  p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 35px;
    span {
      font-weight: 900;
      font-size: 42px;
      color: $blue;
      margin-left: 10px;
    }
  }
  > * {
    position: relative;
    z-index: 2;
  }
  img {
    position: absolute;
    z-index: 1;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.s2 {
  padding: 81px 0;
}

.s2_items {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.s2_i_wr {
  background-color: #3a5bd1;
  padding: 10px;
  box-sizing: border-box;
}

.i3 {
  width: 490px;
}

.s2_i {
  background-color: #fff;
  padding: 60px 64px 88px;
  border-radius: 24px;
  height: 100%;
  box-sizing: border-box;
  h4 {
    font-size: 48px;
  }
  p {
    padding: 20px 0 52px;
    color: #3a5bd1;
    span {
      font-weight: 900;
      display: block;
      font-size: 72px;
    }
  }
  a {
    font-size: 22px;
    height: 107px;
    line-height: 107px;
  }
}

.s3 {
  padding: 100px 0 80px;
  background-color: #2c3050;
  color: #fff;
  .s_h {
    h3 {
      text-transform: uppercase;
      margin-bottom: 12px;
      &.b_t {
        background-color: #ffffff;
        color: $blue;
        padding-right: 30px;
      }
    }
    h2 {
      margin-top: 22px;
    }
  }
}

.graph {
  position: relative;
  display: inline-block;
  margin-top: -10px;
  img {
    position: relative;
    left: -46px;
  }
  p {
    font-size: 18px;
    position: absolute;
    &:before {
      position: absolute;
      width: 28px;
      height: 28px;
      background-image: url("../img/dot.svg");
      content: "";
      top: -42px;
    }
    strong {
      font-size: 36px;
      font-weight: 900;
    }
  }
  .i1 {
    left: 185px;
    top: 222px;
  }
  .i2 {
    left: 381px;
    top: 179px;
  }
  .i3 {
    left: 566px;
    top: 136px;
  }
  .i4 {
    left: 760px;
    top: 94px;
  }
  .e_d {
    left: 961px;
    top: 52px;
    span {
      font-size: 36px;
      font-weight: 900;
      text-transform: uppercase;
    }
  }
}

.clock {
  border: 12px solid #fff;
  position: relative;
  padding: 40px 58px 52px 370px;
  background-color: #f2f4fb;
  img {
    position: absolute;
    bottom: 0;
    left: -80px;
    z-index: 1;
  }
  > * {
    position: relative;
    z-index: 2;
  }
  h2 {
    padding: 20px 0 4px;
    font-size: 44px;
    span {
      color: $blue;
    }
  }
}

.s4 {
  padding-top: 178px;
  padding-bottom: 30px;
  background-color: #dddddd;
}

.books {
  padding-top: 234px;
  display: flex;
  justify-content: space-between;
}

.book {
  width: 740px;
  background: #f2f4fb;
  border: 12px solid #ffffff;
  box-sizing: border-box;
  padding: 50px 48px 10px 66px;
  p {
    line-height: 21px;
    font-size: 16px;
    font-weight: 500;
    margin: 16px 0 32px;
  }
}

.bo_t {
  position: relative;
  padding-left: 304px;
  img {
    position: absolute;
    bottom: -50px;
    left: -44px;
  }
  h3 {
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    margin: 0 -6px;
    span {
      background-color: #004bc5;
      display: inline-block;
      padding: 2px 6px;
    }
  }
  h2 {
    color: #3a5bd1;
    font-weight: 900;
    margin: 0;
    font-size: 42px;
  }
  h4 {
    line-height: 27px;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 40px;
  }
}

.bo_b {
  padding-top: 20px;
  h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #3a5bd1;
  }
}

.t_b_wr {
  margin-bottom: 100px;
  h2 {
    font-weight: 800;
    margin: 65px 0;
    text-transform: uppercase;
  }
}

.t_wr {
  display: flex;
  align-items: center;
  .t {
    border: 12px solid #3a5bd1;
    display: flex;
    background-color: #fff;
    padding: 22px 40px 26px;
  }
  .wrap {
    font-size: 60px;
    font-weight: 800;
    text-align: center;
    span {
      display: block;
      width: 114px;
    }
    span,
    &.dot {
      color: #ec2551;
    }
    i {
      display: block;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      text-transform: uppercase;
      margin-top: 10px;
    }
  }
  img {
    margin: 0 60px;
  }
}

.s3_b {
  h2 {
    text-transform: uppercase;
    font-weight: 800;
  }
  ul {
    counter-reset: counter2;
    margin: 40px 0;
    li {
      line-height: 1.35;
      font-size: 22px;
      font-weight: 700;
      display: inline-block;
      width: 600px;
      margin-right: 145px;
      vertical-align: top;
      padding-left: 96px;
      box-sizing: border-box;
      position: relative;
      &:last-child {
        margin-right: 0;
      }
      &:before {
        content: counter(counter2) ".";
        counter-increment: counter2;
        position: absolute;
        font-weight: 900;
        font-size: 72px;
        line-height: 1;
        color: #3a5bd1;
        left: 0;
        top: -8px;
      }
    }
  }
}

.s5 {
  background-color: #2c3050;
  color: #fff;
  padding: 80px 0 0;
  .group {
    margin: 50px auto;
    img {
      opacity: 0.2;
      display: inline-block;
      vertical-align: top;
      width: 214px;
      height: 230px;
    }
  }
  .s_h {
    h4 {
      font-size: 26px;
      margin-top: 10px;
    }
    p {
      margin: 22px 0;
      span {
        color: #f8d861;
      }
    }
    .b_t {
      background-color: #ffffff;
      color: $blue;
      padding-right: 30px;
    }
    ul {
      display: flex;
      padding: 43px 0;
      li {
        font-size: 20px;
        font-weight: 700;
        position: relative;
        &:after {
          width: 1px;
          height: 130px;
          right: 0;
          top: 0;
          position: absolute;
          content: "";
          background: rgba(220, 226, 246, 0.3);
        }
        strong {
          font-size: 72px;
          font-weight: 900;
          display: block;
        }
        &:nth-child(1) {
          padding-right: 50px;
        }
        &:nth-child(2) {
          padding: 0 84px;
        }
        &:nth-child(3) {
          padding-left: 84px;
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .buy_wr {
    display: inline-block;
    position: relative;
    padding: 50px 126px 206px;
    a {
      width: 600px;
      box-sizing: border-box;
      height: 107px;
      line-height: 107px;
      position: relative;
      z-index: 2;
    }
    img {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 16px;
      bottom: 46px;
      z-index: 1;
    }
  }
}

.s6 {
  padding: 110px 0 100px;
  .im_wr {
    height: 124px;
    display: flex;
    align-items: center;
    margin-bottom: 26px;
  }
  .s2_items {
    padding-top: 16px;
  }
  .s2_i {
    padding-bottom: 30px;
    padding-top: 36px;
    p {
      font-size: 20px;
      font-weight: 700;
      color: #000;
      margin: 20px 0;
      padding: 0;
    }
  }
  .buy {
    margin-top: 77px;
    width: 600px;
    height: 107px;
    line-height: 107px;
  }
}

.s7 {
  background-color: #2c3050;
  position: relative;
  color: #fff;
  padding: 100px 0 170px;
  > * {
    position: relative;
    z-index: 2;
  }
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/foot.png");
    content: "";
    z-index: 1;
    background-size: cover;
    background-position: 50% 0;
  }
}

.success {
  display: flex;
  align-items: center;
  margin-top: 100px;
  img {
    margin-right: 65px;
  }
  .s_txt {
    width: 520px;
    p {
      font-size: 22px;
      font-weight: 700;
      margin: 44px 0;
      line-height: 29px;
    }
  }
}

.m_foot {
  background-color: #2c3050;
  padding: 24px 0;
  color: #fff;
  .policy a,
  p {
    font-size: 14px;
    line-height: 22px;
  }
}

.policy {
  text-align: center;
  a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: 0.08em;
    &:hover {
      text-decoration: underline;
    }
  }
}

.contacts {
  text-align: center;
  p {
    margin-bottom: 14px;
    letter-spacing: 0.08em;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.foot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1240px;
}

@media (max-width: 1560px) {
  .container {
    width: 1200px;
  }
  .m_h h1 {
    font-size: 50px;
  }
  .price {
    max-width: 280px;
    min-width: 280px;
    h4 {
      font-size: 24px;
    }
    li {
      font-size: 15px;
    }
    ul {
      padding: 4px 20px 50px;
    }
  }
  .ph {
    height: 150px;
    h5 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
  }
  .pm {
    h6 {
      font-size: 14px;
    }
    strong {
      font-size: 30px;
    }
  }
  .p_self {
    padding-bottom: 20px;
    p {
      font-size: 14px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  .price.gold .pm p {
    font-size: 14px;
  }
  .price.gold .pm strong {
    font-size: 36px;
  }
  .pb {
    .buy {
      font-size: 18px;
    }
  }
  .o_rot {
    width: 100px;
    p {
      font-size: 16px;
      span {
        font-size: 32px;
      }
    }
  }
  .o_m {
    padding-left: 55px;
    h3 {
      font-size: 60px;
    }
    h4 {
      font-size: 20px;
    }
    li {
      font-size: 18px;
    }
    p {
      font-size: 18px;
    }
  }
  .o_r {
    padding: 0 80px;
  }
  .i3 {
    width: 370px;
  }
  .s2_i {
    padding: 40px 40px 50px;
    h4 {
      font-size: 40px;
    }
    a {
      height: 90px;
      line-height: 90px;
      font-size: 18px;
    }
  }
  .s_h {
    h3 {
      font-size: 22px;
    }
    h2 {
      font-size: 36px;
    }
    p {
      font-size: 18px;
    }
  }
  .books {
    display: block;
    padding-top: 0;
  }
  .book {
    width: 100%;
    margin-top: 200px;
  }
  .t_wr {
    .wrap {
      font-size: 48px;
      span {
        width: 90px;
      }
      i {
        font-size: 14px;
      }
    }
    img {
      margin: 0 50px;
    }
  }
  .buy.big {
    height: 90px;
    line-height: 90px;
  }
  .s3_b {
    ul {
      li {
        width: 450px;
        margin-right: 100px;
        font-size: 18px;
      }
    }
  }
  .s5 {
    .group {
      img {
        width: 160px;
        height: 172px;
      }
    }
  }
  .foot {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 960px;
  }
  .m_h {
    margin-top: 60px;
  }
  .m_h h1 {
    font-size: 38px;
  }
  .m_h p {
    font-size: 16px;
  }
  .pr_wr {
    width: 700px;
    padding: 16px 17px;
  }
  .pr span {
    font-size: 14px;
  }
  .price {
    max-width: 224px;
    min-width: 224px;
    h4 {
      font-size: 18px;
      padding: 24px 0;
    }
    ul {
      padding: 4px 14px 30px;
      li {
        font-size: 13px;
        padding-left: 20px;
      }
    }
  }
  .ph {
    height: 120px;
    h5 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
  }
  .p_self p {
    font-size: 12px;
  }
  .pm strong {
    font-size: 24px;
    margin-left: 6px;
  }
  .price.gold .pm p {
    font-size: 12px;
  }
  .price.gold .pm strong {
    font-size: 30px;
  }
  .pb .buy {
    line-height: 1.2;
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .o_rot {
    width: 80px;
    p {
      font-size: 14px;
      span {
        font-size: 26px;
        line-height: 1.2;
      }
    }
  }
  .o_m {
    padding-left: 30px;
    h3 {
      font-size: 50px;
    }
    h4 {
      font-size: 18px;
    }
    ul {
      padding: 0;
    }
    li {
      font-size: 16px;
      line-height: 1.2;
      margin: 16px 0;
      &:before {
        top: 0;
      }
    }
    p {
      font-size: 16px;
    }
  }
  .o_r {
    padding: 0 50px;
    h4 {
      font-size: 18px;
    }
    img {
      display: none;
    }
  }
  .s1 {
    padding-bottom: 100px;
  }
  .i3 {
    width: 295px;
    h4 {
      font-size: 32px;
    }
  }
  .graph {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .graph .i1 {
    left: 149px;
    top: 194px;
  }
  .graph .i2 {
    left: 318px;
    top: 157px;
  }
  .graph .i3 {
    left: 477px;
    top: 120px;
  }
  .graph .i4 {
    left: 638px;
    top: 85px;
  }
  .graph .e_d {
    left: 795px;
    top: 47px;
    text-align: center;
  }
  .graph p {
    font-size: 14px;
    strong {
      font-size: 30px;
    }
  }
  .graph .e_d span {
    font-size: 26px;
  }
  .s_h h3 {
    font-size: 20px;
  }
  .s_h h2 {
    font-size: 30px;
  }
  .s4 {
    padding-top: 100px;
  }
  .t_wr .t {
    padding: 14px 16px 18px;
  }
  h2 {
    font-size: 32px;
  }
  .t_wr {
    .wrap {
      font-size: 36px;
      span {
        width: 70px;
      }
      i {
        font-size: 12px;
        margin-top: 6px;
      }
    }
    img {
      margin: 0 40px;
      width: 30px;
    }
  }
  .buy.big {
    height: 80px;
    line-height: 80px;
    font-size: 18px;
  }
  .s3_b {
    li {
      font-size: 16px;
      &:first-child {
        margin: 0;
      }
    }
  }
  .s5 .s_h h4 {
    font-size: 20px;
  }
  .s5 {
    .buy_wr {
      width: 100%;
      box-sizing: border-box;
      a {
        width: 100%;
      }
    }
  }
  .s6 .s2_i {
    padding: 30px;
  }
  .s6 .s2_i p {
    font-size: 16px;
  }

  .i3 h4 {
    font-size: 26px;
  }

  .foot {
    p {
      font-size: 12px;
    }
  }
}

@media (max-width: 992px) {
  .container {
    width: 730px;
  }
  .prices {
    flex-wrap: wrap;
  }
  .price {
    max-width: 340px;
    min-width: 340px;
    margin-bottom: 30px;
  }
  .p_self {
    height: 400px;
  }
  .o_wr {
    padding-top: 60px;
  }
  .online {
    display: block;
    text-align: center;
  }
  .o_rot {
    width: 100%;
    padding: 10px 0 12px;
    p {
      transform: none;
    }
  }
  .o_m {
    li {
      padding: 0;
      &:before {
        position: relative;
        display: inline-block;
        margin-right: 10px;
        top: 4px;
      }
    }
  }
  .o_r {
    width: 100%;
    padding: 30px 50px;
    border-top: 1px dashed $blue;
    &:before {
      display: none;
    }
  }
  .s1 {
    padding: 60px 0;
  }
  .s2_items {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -15px;
  }
  .i3 {
    width: 335px;
    margin: 15px;
  }
  .s2_i a {
    font-size: 15px;
  }
  .s3 {
    padding: 60px 0 80px;
  }
  .graph .i1 {
    left: 96px;
    top: 153px;
  }
  .graph .i2 {
    left: 224px;
    top: 125px;
  }
  .graph .i3 {
    left: 328px;
    top: 83px;
  }
  .graph .i4 {
    left: 466px;
    top: 71px;
  }
  .graph .e_d {
    left: 581px;
    top: 43px;
  }
  .graph p {
    font-size: 12px;
  }
  .graph p strong {
    font-size: 24px;
  }
  .graph .e_d span {
    font-size: 22px;
  }
  .clock {
    display: block;
    padding: 0 50px 40px;
    img {
      position: static;
      display: block;
      margin: -120px auto 0;
    }
  }
  .book {
    margin-top: 160px;
  }
  .bo_t {
    padding-left: 270px;
    img {
      width: 300px;
    }
  }
  h2 {
    font-size: 28px;
  }
  .t_wr {
    flex-direction: column;
    a {
      max-width: 500px;
    }
    img {
      display: block;
      margin: 30px auto;
      transform: rotate(90deg);
    }
  }
  .s3_b ul {
    display: flex;
    justify-content: space-between;
    li {
      padding-left: 60px;
      width: 330px;
      font-size: 16px;
      &:before {
        font-size: 48px;
        top: 0;
      }
    }
  }

  .s5 .s_h ul {
    display: block;
    li {
      padding: 20px 0 40px !important;
      text-align: center;
      &:after {
        width: 130px;
        height: 1px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        right: auto;
        top: auto;
      }
    }
  }
  .s5 .buy_wr {
    padding: 50px 0 100px;
    text-align: center;
    a {
      display: inline-block;
      max-width: 500px;
    }
    img {
      display: none;
    }
  }
  .s6 .buy {
    margin: 50px auto 0;
  }
  .success {
    margin-top: 60px;
  }
  .s7 {
    padding: 100px 0;
  }
  .foot {
    display: block;
    text-align: center;
  }
  .policy {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
  .pr_wr {
    width: 100%;
  }
  .m_h h1 {
    font-size: 28px;
    margin-top: 50px;
  }
  .m_h p {
    font-size: 14px;
  }
  .pr {
    text-align: left;
    span {
      font-size: 12px;
      padding-left: 12px;
      color: #fff !important;
      strong {
        width: 32px;
      }
    }
  }
  .s_h {
    text-align: center;
  }
  .s_h h3 {
    font-size: 18px;
  }
  .s_h h2 {
    font-size: 24px;
  }
  .s_h p {
    font-size: 16px;
  }
  .prices {
    display: block;
  }
  .price {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }
  .p_self {
    height: auto;
  }
  h2 {
    text-align: center;
    font-size: 24px;
  }
  .buy {
    height: auto !important;
    line-height: 1.2 !important;
    font-size: 16px !important;
    padding: 20px;
    box-sizing: border-box;
  }
  .o_r {
    p {
      span {
        white-space: nowrap;
      }
    }
  }
  .clock {
    padding: 0 15px 30px;
    border-width: 5px;
    img {
      max-width: 100%;
    }
  }

  .bo_t {
    padding-left: 0;
    h2 {
      font-size: 30px;
    }
    h4 {
      text-align: center;
      padding-bottom: 0;
    }
    h3 {
      font-size: 14px;
    }
    img {
      position: static;
      max-width: 100%;
    }
  }
  .book {
    padding: 15px;
    margin-top: 30px;
    border-width: 5px;
    p {
      font-size: 14px;
    }
  }
  .t_wr .t {
    border-width: 5px;
    padding: 14px 10px 18px;
  }
  .t_b_wr h2 {
    margin: 40px 0;
  }
  .t_wr .wrap span {
    width: 50px;
  }
  .t_wr .wrap {
    font-size: 26px;
  }
  .t_wr .wrap i {
    font-size: 10px;
  }
  .t_wr img {
    margin: 20px auto;
  }
  .t_b_wr {
    margin-bottom: 60px;
  }
  .s3_b ul {
    display: block;
    li {
      margin: 16px 0;
      width: auto;
    }
  }
  .s5 .group {
    text-align: center;
    img {
      width: 130px;
      height: auto;
      height: 140px;
    }
  }
  .s5 .buy_wr a {
    padding: 30px 20px;
  }
  .s6 {
    padding: 60px 0;
  }
  .s6 .buy {
    width: auto;
  }
  .success {
    display: block;
    text-align: center;
    img {
      margin-right: 0;
      max-width: 100%;
    }
  }
  .success .s_txt {
    width: auto;
  }
  .graph {
    padding-left: 10px;
    position: relative;
    margin-top: 10px;
    &:before {
      top: 0;
      left: 19px;
      width: 10px;
      border-radius: 5px;
      height: 100%;
      position: absolute;
      background: linear-gradient(175.32deg, #3460e2 5.92%, #ec2551 100%);
      content: '';
    }
    img {
      display: none;
    }
    p {
      position: relative;
      left: auto !important;
      top: auto !important;
      right: auto !important;
      bottom: auto !important;
      margin: 25px 0 !important;
      text-align: left !important;
      padding-left: 50px;
      &:before {
        left: 0;
      top: 0;
      }
    }
  }
  .s_h h2 {
    font-size: 20px;
  }
}
